<header class="topbar">
    <div class="brand">Sitio estructura</div>

    <nav class="menu">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        <a routerLink="breadcrumbs" routerLinkActive="active">breadcrumbs</a>
        <a routerLink="elementos-sitio" routerLinkActive="active">Elementos</a>
        <a routerLink="menu" routerLinkActive="active">Menu</a>
        <a routerLink="mapa-sitio" routerLinkActive="active">Mapa del sitio </a>
        <a routerLink="busqueda" routerLinkActive="active">Busqueda</a>
    </nav>

    <form class="d-flex ms-3" (submit)="$event.preventDefault(); goSearch()">
        
        <input class="form-control form-control-sm me-2"
        placeholder="Buscar..."
        [(ngModel)]="quickQuery"
        name="quickQuery"
        />

        <button class="btn btn-sm btn-primary" type="submit">Ir</button>

        <button type="button" (click)="quickQuery = ''">Limpiar</button>

    </form>
</header>

<main class="content">
    <app-breadcrumb> </app-breadcrumb>
    <router-outlet></router-outlet>
</main>

<footer class="footer">
    <small>Desarrollo web profesional</small>
</footer>